/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMMON */
body{
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}

.mobile-padding{
    padding-left: 2rem;
    padding-right: 2rem;
}

.card-padding{
    padding: 2rem;
}

img{
    width: 100%;
}

.center{
    text-align: center;
}

.btn-small{
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 30px;
}

.btn-large{
    color: white;
    background-color: #0084fd;;
    padding: 7px 50px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 1.1rem;
}

/* Header */
header{
    height: 70px;
    background-color: #0084fd;
    color: white;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-menu{
    display: none;
}

.list-menu{
    display: flex;
}

ul li{
    list-style-type: none;
    padding-left: 1rem;
}

li a{
    text-decoration: none;
    color: white;
}


/* Main */

/* Info-columns */
section{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.columns{
    display: flex;
    flex-wrap: wrap;

}

.col{
    padding-bottom: 1rem;
}

.info-card{
    background-color: #b5ddff;
    border-radius: 20px;
}

.info-card-large img{
    display: block;
    padding-top: 2rem;
}

.info-card-large{
    background-color: #b5ddff;
    padding: 2rem;
    padding-bottom: 0%;
    border-radius: 20px;
}

.info-card-large h3{
    color: #0084fd;;
}

.info-card-large p{
    padding: 2rem 0;
}

.icone{
    font-size: 4rem;
    color: #0084fd;;
}

.info-card h3{
    padding: 1.5rem 0;
    color: #0084fd;;
}

/* End Info-Columns */


/* Section-Strategy */
.strategy{
    background-color: lightcoral;
}

.strategy-columns{
    display: flex;
    flex-wrap: wrap;
}

.strategy-col{
    height: 100%;
    border: 1px solid white;
    padding: 1rem 0;

}

.testimonials{
    background-color: aquamarine;
}

/* Section-Testimonials */
.customer-feedback{
    padding: 1rem 0;
    border: 1px solid red;
}

/* Section-Benefits */
.benefits{
    background-color: bisque;

}

.benefits-columns{
    display: flex;
    flex-wrap: wrap;

}

.benefits-col{
    border: 1px solid red;

}

 /* Section-about-us */
 .about-us{
    background-color: pink;
}
.text-columns{
    display: flex;
    flex-direction: column;
}

.large-col{
    padding-bottom: 1rem;
    border: 1px solid red;

}

.narrow-col{
    border: 1px solid red;

}

/* Section-get-started */
.get-started{
    background-color: lightgray;
}











/* Tablet */
@media screen and (min-width: 768px) {
    /* Main */

    /*Info-Columns  */
    .columns{
        margin-left: -1rem;
        margin-right: -1rem;
    }


    .col{
        width: calc(100% / 3);
        padding: 1rem;
    }

    .col:first-child{
        width: calc( (100% / 3) * 2);
    }

    .col:nth-child(2){
        display: flex;
    }

    /* Section-Benefits */
    .benefits-columns{
        justify-content: space-between;

    }

    .benefits-col{
        width: calc( (100% / 2) - 1rem);
        padding-bottom: 1rem;
        
    }

    /* Section-About-us */
    .text-columns{
        display: flex;
        flex-direction: row;
    }


    .large-col{
        width: 70%;
        padding-right: 2rem;
        border: 1px solid red;

    }

    .narrow-col{
        width: 30%;
        border: 1px solid red;



    }

    
}

/* Desktop */
@media screen and (min-width: 992px) {
    /* Header */
    .header-menu{
        display: block;

    }

    .burger-button{
        display: none;
    }
    
    /* Main */

    /* Info-Columns */
    .flex-container{
        display: flex;
    }

    .col-left{
        width: 50%;

    }

    .col-right{
        width: 50%;

    }

    /* Section Strategy */
    .strategy .container{
        max-width: 950px;

    }

    .strategy-columns{
        justify-content: space-between;
    }

    .strategy-col{
        width: calc( 50% - 1rem );
    }

    /* Section-Benefits */
    .benefits-columns{
        justify-content: space-between;

    }

    .benefits-col{
        width: calc( (100% / 3) - 1rem);
        padding-bottom: 1rem;
        
    }

}
